<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @post.title %>
      </p>
      <%= link_to "by #{@post.user.nickname}", user_path(@post.user), class: :prototype__user %>
      <% if current_user == @post.user %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_post_path(@post), class: :prototype__btn %>
          <%= link_to "削除する", post_path(@post), method: :delete, class: :prototype__btn %>
        </div>
      <% end %>
      <div class="prototype__image">
        <%= image_tag @post.image %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">キャンプ場</p>
          <p class="detail__message">
            <%= @post.description %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">   ココがおすすめ！！</p>
          <p class="detail__message">
            <%= @post.recomended %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">
        <% if user_signed_in? %>
          <%= form_with model: [@post, @comment], local: true do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %> 
        <% end %>
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.text %>
              <%= link_to "（#{comment.user.nickname}）", user_path(comment.user), class: :comment_user %>
            </li>
          <% end %>
          <h3>いいね件数: <%= @post.likes.count %></h3>
          <% if current_user %>
            <% if current_user.already_liked?(@post) %>
              <%= button_to 'いいねを取り消す', post_like_path(@post), method: :delete %>
            <% else %>
              <%= button_to 'いいね', post_likes_path(@post) %>
            <% end %>
            <h2>いいねしたユーザー</h2>
            <% @post.liked_users.each do |user| %>
              <li><%= user.nickname %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
